node-red/flow.json
{
  "_id": "austinfoosball-nodered/flow",
  "_rev": "175-7faf51c822455796777ff8fd25f9598c",
  "flow": [
    {
      "type": "tab",
      "id": "12795ad6.43764d",
      "label": "Sheet 1"
    },
    {
      "type": "tab",
      "id": "11e99e34.947572",
      "label": "Sheet 2"
    },
    {
      "id": "63be896a.b610e",
      "type": "twitter-credentials",
      "screen_name": "@FoozBuzz"
    },
    {
      "id": "a9108892.56ef78",
      "type": "twitter-credentials",
      "screen_name": "@FoosBuzz"
    },
    {
      "id": "402495c.41a8aec",
      "type": "ibmiot",
      "name": "cnmcc"
    },
    {
      "id": "3e77d543.c1882a",
      "type": "ibmiot in",
      "authentication": "boundService",
      "apiKey": "",
      "inputType": "evt",
      "deviceId": "",
      "applicationId": "",
      "deviceType": "table",
      "eventType": "+",
      "commandType": "",
      "format": "json",
      "name": "IBM IoT App In",
      "service": "registered",
      "allDevices": true,
      "allApplications": false,
      "allDeviceTypes": true,
      "allEvents": true,
      "allCommands": false,
      "allFormats": false,
      "x": 152,
      "y": 258,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "c0c482df.3f3b8",
          "682f64e0.f43dfc",
          "75e3033f.41be8c"
        ]
      ]
    },
    {
      "id": "c0c482df.3f3b8",
      "type": "debug",
      "name": "device data",
      "active": false,
      "console": "false",
      "complete": "true",
      "x": 233.5,
      "y": 400,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "38160749.c5adc",
      "type": "http request",
      "name": "",
      "method": "GET",
      "ret": "txt",
      "url": "http://austin-foosbuzz.mybluemix.net/storeGoals?d={{{d}}}",
      "x": 418,
      "y": 117,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "2f38b9ff.020126"
        ]
      ]
    },
    {
      "id": "2f38b9ff.020126",
      "type": "debug",
      "name": "http response",
      "active": true,
      "console": "false",
      "complete": "true",
      "x": 608,
      "y": 70,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "4ae91d91.c23154",
      "type": "twitter out",
      "twitter": "a9108892.56ef78",
      "name": "Tweet",
      "x": 640,
      "y": 522.0000152587891,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "682f64e0.f43dfc",
      "type": "function",
      "name": "goal2color",
      "func": "if (msg.payload.d == \"1\") {\n    _d = \"Yellow\";\n} else if (msg.payload.d == \"2\") {\n    _d = \"Black\";\n} else {\n    _d = 0;\n}\nmsg.payload.d = _d;\nreturn msg;",
      "outputs": 1,
      "valid": true,
      "x": 354,
      "y": 217,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "1d1ccfa0.6a88f8"
        ]
      ]
    },
    {
      "id": "4d6d1db.e236be4",
      "type": "debug",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "payload",
      "x": 646,
      "y": 212,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "1d1ccfa0.6a88f8",
      "type": "template",
      "name": "create goal tweet",
      "field": "payload",
      "format": "handlebars",
      "template": "Team {{payload.d}} just scored! Go Team {{payload.d}}!! #FoozBuzz",
      "x": 495,
      "y": 286,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "4d6d1db.e236be4"
        ]
      ]
    },
    {
      "id": "54994c93.8dfa74",
      "type": "debug",
      "name": "",
      "active": false,
      "console": "false",
      "complete": "d",
      "x": 390.20001220703125,
      "y": 36.19999694824219,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "75e3033f.41be8c",
      "type": "function",
      "name": "Payload filter 1",
      "func": "return msg.payload;",
      "outputs": 1,
      "valid": true,
      "x": 211.20001220703125,
      "y": 99.19999694824219,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "38160749.c5adc",
          "54994c93.8dfa74"
        ]
      ]
    },
    {
      "id": "1b57443b.df56fc",
      "type": "inject",
      "name": "",
      "topic": "",
      "payload": "playSound",
      "payloadType": "date",
      "repeat": "",
      "crontab": "",
      "once": false,
      "x": 163,
      "y": 894,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "f0eb2d3f.9eb428",
          "10d8267e.1c6c5a"
        ]
      ]
    },
    {
      "id": "f0eb2d3f.9eb428",
      "type": "debug",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 344,
      "y": 953,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "10d8267e.1c6c5a",
      "type": "ibmiot out",
      "authentication": "boundService",
      "apiKey": "402495c.41a8aec",
      "outputType": "cmd",
      "deviceId": "b827eb764b7a",
      "deviceType": "table",
      "eventCommandType": "test",
      "format": "string",
      "data": "\"testing\"",
      "name": "IBM IoT App Out",
      "service": "registered",
      "x": 508,
      "y": 831,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "9bf52389.6fbc48",
      "type": "http in",
      "name": "Tweet",
      "url": "/tweet",
      "method": "post",
      "x": 202.1999969482422,
      "y": 502.20001220703125,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "44d2726c.7d660c"
        ]
      ]
    },
    {
      "id": "a47cd441.983608",
      "type": "debug",
      "name": "tweet",
      "active": true,
      "console": "false",
      "complete": "payload",
      "x": 643.2000122070312,
      "y": 435.19996643066406,
      "z": "12795ad6.43764d",
      "wires": []
    },
    {
      "id": "44d2726c.7d660c",
      "type": "function",
      "name": "Tweet",
      "func": "msg.payload = msg.req.body;\nreturn msg;",
      "outputs": 1,
      "valid": true,
      "x": 402.20001220703125,
      "y": 501.20008850097656,
      "z": "12795ad6.43764d",
      "wires": [
        [
          "a47cd441.983608",
          "4ae91d91.c23154"
        ]
      ]
    },
    {
      "id": "aa88c4ae.228028",
      "type": "ibmiot in",
      "authentication": "boundService",
      "apiKey": "",
      "inputType": "cmd",
      "deviceId": "b827eb764b7a",
      "applicationId": "",
      "deviceType": "table",
      "eventType": "",
      "commandType": "test",
      "format": "string",
      "name": "IBM IoT App In",
      "service": "registered",
      "allDevices": false,
      "allApplications": "",
      "allDeviceTypes": false,
      "allEvents": "",
      "allCommands": false,
      "allFormats": false,
      "x": 215,
      "y": 176,
      "z": "11e99e34.947572",
      "wires": [
        [
          "e7f7f687.f707b"
        ]
      ]
    },
    {
      "id": "e7f7f687.f707b",
      "type": "debug",
      "name": "",
      "active": true,
      "console": "false",
      "complete": "false",
      "x": 440,
      "y": 200,
      "z": "11e99e34.947572",
      "wires": []
    }
  ]
}